


<div>
    <data>
        <!--<discover ng-show="!showDetails" ondiscoveractivitiesinit="ondiscoveractivitiesinit(scope)" onactivitydetail="onactivitydetail(id)">-->
        <!--</discover>-->
        <!--<activity ng-show="showDetails" onactivitydetailsinit="onactivitydetailsinit(scope)" >-->
        <!--</activity>-->
        <!--<discover ondiscoveractivitiesinit="ondiscoveractivitiesinit(scope)" onactivitydetail="onactivitydetail(activity)">-->
        <!--</discover>-->
        <!--<activity onactivitydetailsinit="onactivitydetailsinit(scope)" >-->
        <!--</activity>-->

        <activities>
        </activities>

    </data>
</div>
