

@font-face {
    font-family: "Dodger";
    src: url('fonts/Dodgv2.ttf');
}

h1, .h1 {
    /*font-family: 'Ubuntu', serif;*/
    font-family: 'Arial', serif;
    font-style: normal;
    font-size: 65px;
}
h2, .h2 {
    font-family: 'Ubuntu';
    font-weight:lighter;
    font-size:60px;
}
h3, .h3 {
    font-family: 'Ubuntu', serif;
    font-size:50px;
}
h4, {
    font-family: 'Ubuntu', serif;
    font-weight:lighter;
    font-size:40px;
}
h5,  { /* awaiting approval */
    font-family: 'Ubuntu', serif;
    font-size:35px;
}

.col-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
}

.center{
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.tab-nav.tabs {
    display: none;
}
.has-tabs-top {
    top: 44px;
}
.has-tabs, .bar-footer.has-tabs {
    bottom: 0px;
}

/* Login */
.slider {
    height: 100%;
}
.slider ion-slide {
    margin: 0;
}
ion-slide.first {
    background-image: url('../img/Intro-1.png');
    background-size: cover;
    background-position-x: center;
    background-blend-mode: multiply;
}
ion-slide.second {
    background-image: url('../img/Intro-2.png');
    background-size: cover;
    background-position-x: center;
    background-blend-mode: multiply;
}
ion-slide.third {
    background-image: url('../img/Intro-3.png');
    background-size: cover;
    background-position-x: center;
    background-blend-mode: multiply;
}
.slider-pager {
    bottom:60px;
    z-index: 100;
}
.slider-pager .slider-pager-page .icon {
    color: #f8f8f8;
}
.slider-pager .slider-pager-page.active .icon {
    color: #f9610b;
}
.bar.bar-footer .button-login{
    background: #3b5998;
    margin: 0;
    border: none;
}

ion-slide.second .row.row-center {
    margin-top: 220px;
    font-size: large;
}
ion-slide.third .row.row-center {
    margin-top: 220px;
    font-size: large;
}

/* Google maps */
#map {
    width: 100%;
    height: 30%;
}
.scroll {
    height: 100%;
}
/* /Google maps */
/* ion Google autocomplete */
.ion-google-place-container .locality , .recent-places-container .locality{
    color: #b2b2b2;
    font-size: 0.8em;
}

/* ng-tags */
.item.item-input .tags input {
    padding-right:inherit;
}
/* ng-tags */

/* ionic cards */
/*.item-card {*/
/*border-radius: 15px;*/
/*}*/

td-cards td-card, .item-card{
    background-color: #f6f1eb;
}

.td-cards td-card {
    /*margin-left: -41%;*/
    /*left:46%;*/
    /*width:90%;*/
    max-width: 330px;
    min-height: 300px;
    height: 78%;
    border-radius: 15px;
}
.tabs-card {
    margin:auto;
    width:98%;
    border:none;
    background-image: none;
}

.td-cards td-card .image {
    position:inherit;
}
.td-cards td-card .item-header {
    border: 0;
    background: none;
}
.td-cards td-card .item.bottom {
    border: 0;
    background: none;
    padding: 8px;
}
.td-cards td-card .row .col {
    text-align: center;
}
.td-cards td-card .item.bottom.img {
    position: absolute;
    top: 260px;
}
.td-cards td-card .item.bottom.img img, .item.item-avatar.bottom.img img {
    position: static;
    color: #ccc;
    border: solid;
    top: 16px;
    left: 16px;
    min-width: 70px;
    min-height: 70px;
    width: 100%;
    height: 70px;
    border-radius: 100px;
}

/* view activity */
.item.item-avatar.bottom.img {
    padding-left:16px;
}

.card .item .item.tag {
    border-bottom: 0;
    border-top:0 ;
}
.bar > .button:nth-child(2) {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
}

/* my activity - info */

.list #map {
    width:100%;
    height:180px;
}
#map div.gmnoprint,
#map div.gmnoscreen,
#map div.gm-style-cc{
    bottom: auto !important;
}

.my-activity-info .item-header.card-avatar {
    padding-left: 87px;
    min-height: 87px;
}
.my-activity-info .item-header.card-avatar h2 {
    white-space: normal;
}

.list .button-label {
    vertical-align: middle;
    border-top: none;
    margin-top:-26px;
    text-align: left;
    padding-left: 16px;
    color: #3d4d64;
    background-color: rgba(246,241,235,0.9);
}

.list .action-buttons .button.ion-social-facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

/*.item-icon-left .icon:before, .item-icon-right .icon:before  {*/
/*display: inline;*/
/*position: absolute;*/
/*top: -18px;*/
/*width: 32px;*/
/*text-align: center;*/
/*}*/

/* /view activity - member */

/* dicover Activity - main screen */



.title.header-item {
    margin:auto 5px;
}
.header-logo {
    font-family: "Dodger";
    font-size: 1.5em;
}
.logo-s-letter {
    font-size: 1.5em;
}
.list .button-share {
    border-radius: 100px;
    width: 70px;
    height: 70px;
}

.discover .label-no-results {
    top:20%;
}
.discover .label-no-results .item {
    padding: 10px;
}

.discover .spinner-no-results {
    top:20%;
}

td-card .item-header.item-avatar {
    padding-left: 87px;
    min-height: 87px;

    display: -webkit-flex;
    display: flex;
}
td-card .item-header.item-avatar img {
    max-width: 55px;
    border: solid #ccc;
    max-height: 55px;
}
td-card .item-header.item-avatar h2 {
    white-space: normal;
    text-align: left;
}

td-card .info-tabs .icon:before {
    min-width: 25px;
    width: 25px;
}

td-card .info-tabs .icon {
    font-size: 24px;
    vertical-align: sub;
}

td-card .image-container {
    /*height: 225px;*/
    overflow: hidden;
    position: relative;
}

td-card .card-tags-label {
    position: absolute;
    margin: 0 0 0 10px;
    bottom: 0;
    left: 0;
}

td-card .card-tags-label .button {
    background-color: rgba(0,0,0,0.5);
    border:none;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 10px;
}

/* discover activity modal */

.activity-modal .item-header.item-avatar {
    padding-left: 87px;
    min-height: 87px;
}

.activity-modal .item-header.item-avatar h2 {
    white-space: normal;
    text-align: left;
}

.item-header.card-avatar img {
    top:11px;
    max-width: 55px;
    border: solid #ccc;
    max-height: 55px;
}

.item-body .tag {
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 10px;
}

.activity-tap .report{
    position: absolute;
    right: 6px;
    top:5px;
    padding: 10px 10px 16px 16px;
    /*padding-left: 16px;*/
    /*padding-bottom: 16px;*/
}

ion-popover-view.report-popover {
    height:305px
}

.time-label h4 {
    font-size: 35px;
}
.item-card {
    border-width: 0px;
}
.item-card .item-members ion-scroll {
    overflow: visible;
}
.item-card .item-members .label-member {
    display: inline-block;
    padding: 0 5px;
    margin: 0;
    width: 80px;
}
.item-card .item-members .label-member h5 {
    text-align: center;
}

.item-card .tag {
    border-width: 0px;
}

.bar .buttons-right .button-in{
    width: 40px;
    padding: 0 4px;
    margin-left: 5px;
}


/* Dicovery preferences */

/* Profile */
.list .item-profile {
    text-align: center;
    background-size: cover;
    background-position-x: center;
}

.background-blend-color {
    background-color: rgba(61, 77, 100, 0.9);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.list .item-profile img.background-image {
    z-index: -1;
    position: absolute;
    width: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

.list .item-profile img.profile-image {
    border: solid;
    border-radius: 50px;
    max-height: 90px;
    max-width: 90px;
    width: 90px;
    height: 90px;
}

.item-profile {
    min-height: 200px;
}

.list-profile > .item {
    border-width: 1px;
}

.list-profile .padding {
    padding: 16px;
}
.list-profile .item textarea {
    resize: none;
    padding-left: 8px;
}
.item-header.item-profile {
    padding: 16px 0 0 0;
    min-height: 300px;
}

.list .item-profile .icon.ion-camera {
    background-color: white;
    padding: 5px;
    padding-bottom: 0;
    padding-top: 0;
    height: 23px;
    width: 23px;
    color: #aaa;
    border-radius: 50px;
}

.item-activities-summary {
    background-color: rgba(170,170,170,0.8);
    /*background-image: inherit;*/
    /*background-size: cover;*/
    /*background-position-x: center;*/
    /*background-blend-mode: multiply;*/
    position: absolute;
    width:100%;
    bottom: 0;
    padding: 0;
    margin: 0;
}

.item-activities-summary .row .item:nth-child(1) {
    padding-right: 16px;
}
.item-activities-summary .row .item:nth-child(2) {
    padding-right: 0;
}

.item-activities-summary,.item-activities-summary .row, .item-activities-summary .row .col {
    padding: 0;
}
.item-activities-summary .item {
    background: none;
}
.item-activities-summary .item .item {
    border: none;
    background: none;
}
.item-activities-summary .item-icon-right .icon {
    right:0;
    font-size: 45px;
}

.item-tags {
    overflow: visible;
    z-index:5;
}
.item-tags tags-input {
    width:100%;
}

.item-tags .tags {
    border:none;
    box-shadow: none;
}
.item.item-input .tags input {
    padding-left: 0;
}

/* Privacy policy */

.privacy-policy iframe, .terms-of-use iframe {
    width: 100%;
    height: 100%;
}

/* Dicover activities */

ion-header-bar.bar-header.bar-activities {
    background-attachment: scroll;
    background-clip: border-box;
    background-image: linear-gradient(rgb(196, 196, 207), rgba(256, 256, 256, 0)) !important;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;

    background-color: rgba(0,0,0,0);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #C4C4CF 100%);
    background: -webkit-linear-gradient(#C4C4CF, rgba(255,255,255,0.0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#C4C4CF, rgba(255,255,255,0.0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#C4C4CF, rgba(255,255,255,0.0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#C4C4CF, rgba(255,255,255,0.0)); /* Standard syntax */
}

.bar-header.bar .item-note i.icon:before {
    font-size: 14px;
}
.bar-header.bar .item-note {
    position: absolute;
    top: 0;
    right: 0;
}

.bar-header.bar .bubble-notification.item-note {
    top: 11px;
    right: -5px;
}

.bar-header.bar .bubble-messages.item-note {
    top: 8px;
    right: 3px;
}

.header-logo img {
    /*width: 170px;*/
    width:100%;
    max-width: 170px;
    padding: 10px;
    padding-top: 15px;
}

.discover-activities-background2 {
    position: absolute;
    margin: 0 50% 0 -25%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

.discover-activities-background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.discover-activities-background {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0;

    display: block;
    width: auto;
    height: 100%;

    background-size: auto 100%;
    background-size: cover;
    background-position-x: center;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.discover .spinner svg {
    /*position: absolute;*/
    width: 70%;
    height: 70%;
}

.button-refresh {
    margin:70% auto 0 auto;
    text-align:center;
}
.button-refresh button {
    border-radius: 100px;
    min-width: 80px;
    min-height: 80px;

}

/* my-activities */

.item-complex .item-content {
    padding-right: 16px;
}

.list-item-labels {
    position: absolute;
    bottom: 0;
}
.list-item-labels.row {
    width:70%;
}


.my-activities ion-item.item.item-thumbnail-left img {
    top: 0px;
    left: 0px;
    max-width: 100px;
    max-height: 100px;
}

.my-activities ion-item.item .item-note {
    position: absolute;
    right:0;
    padding-right: 16px;
}

.my-activities ion-item.item h2 {
    padding-right: 22px;
    white-space: normal;
}

/* Create activity */

.activity-create-form {
    background: none;
}
.activity-create-form .item {
    margin-bottom: 5px;
}
.activity-create-form .item textarea {
    resize:none;
}
.activity-create-form .item-location {
    padding: 13px 16px;
}

div.activity-create-form .item.button-create {
    margin-bottom: 16px;
}

.activity-create-form .item-button-create {
    padding-right: 0;
    padding-left: 0;
}

.activity-create-form .list:last-child {
    margin-bottom: 16px;
}

.item-date-day {
    padding: 0;
    border: none;
}

.item-label-center {
    text-align:center;
}
.item-right {
    float: right;
}
.item .range {
    padding:0;
}
.item .range input {
    margin:0;
}
.item.item-map {
    padding:0
}
.item-map #map {
    height:150px;
}
.activity-create-form .item-toggle{
    border:none;
}

.activity-create-form .item-radio input:checked ~ .item-content,
.activity-create-form .item-radio input:checked ~ .item-content p {
    background-color: #f9610b;
    color: #fff;
}

.activity-create-form .item-date-day .row, .activity-create-form .item-date-day .col{
    padding:0;
}

.activity-create-form .item-radio .item-content {
    padding-right: 16px;
    text-align: center;
}

.activity-create-form .item-body .button-right{
    background: rgba(256,256,256,0.5);
    position:absolute;
    top:0;
    left:16px;
    margin-top:16px;
}
.activity-create-form .item-body .button-left {
    background: rgba(256,256,256,0.5);
    position:absolute;
    top:0;
    margin-top:16px;
    right:16px;
}

.list .row.form-divider {
    padding-right: 0;
    padding-left: 0;
    padding: 5px 0;
}

.list .form-divider .col {
    padding: 0;
}

.list .form-divider .item {
    border: none;
    background: none;
}

.list .form-divider .item-divider-label {
    padding-left: 35px;
    padding-right: 5px;
}

.list .form-divider .icon {
    left: 0px;
}

.list .form-divider .item-divider-hr {
    padding-left: 0;
    padding-right: 0;
}
.list .form-divider .item-divider-hr hr {
    margin:9px auto ;
}

.activity-create-form .item-toggle {
    padding-right: 55px;
    padding-left: 10px;
    float: right;
}

.activity-create-form .item-toggle .toggle {
    right: 0;
}

.activity-create-form .item-permissions {
    padding-top: 0;
}

.activity-create-form .item-permissions .col{
    padding: 0;
}

.activity-create-form .item-permissions, .activity-create-form .item-permissions .item, .activity-create-form .item-range {
    overflow: visible;
    background:none;
    border:none;
}

.activity-create-form .item-range {
    padding-top: 8px;
    padding-bottom: 0px;
}

.activity-create-form .item-range .range {
    width:100%;
}

/* Create location */
.bar-footer .button-send-location {
    width:100%;
}

td-cards .card-right-label .smallFont{
    font-size: 15px;
    padding-bottom: 11.5px;
    padding-top: 11.5px;
}

td-cards .card-left-label h4, td-cards .card-right-label h4 {
    text-align: center;
}
td-cards .card-left-label h2, td-cards .card-right-label h2{
    text-align: center;
    margin-bottom:0;
    font-size: 1.5em;
}
td-cards .item.card-left-label {
    position:absolute;
    z-index:100;
    top:36%;
    left:0;
    width:90px;
    padding: 14px;
    padding-left: 10px;
    border:none;
    border-bottom-right-radius:40px;
    border-top-right-radius: 40px;
}
td-cards .item.card-right-label {
    position:absolute;
    z-index:100;
    top:36%;
    right:0px;
    width:90px;
    padding: 14px;
    padding-right: 10px;
    border:none;
    border-bottom-left-radius:40px;
    border-top-left-radius: 40px;
}

.card-buttons {
    z-index: 9999;
    position: absolute;
    bottom: 5%;
}
.card-buttons.row .col  {
    padding: 0;
}
.card-buttons.row h1  {
    font-size: 25px;
    line-height: 35px;
    margin:0;
}
.card-buttons .background {
    z-index: 100;
    width:240px;
    padding: 4px;
}

.card-buttons .border {
    position: absolute;
    background-image: url('../img/card-buttons-border.png');
    background-size: 100% 100%;
    width: 240px;
    height: 72px;
    z-index: 100;
    padding: 4px;
}

.card-buttons button.button,
div.col .energized button:hover,
div.col .dark button:hover {
    border:0;
    width: 121px;
    min-height: 78px;
    color:inherit;
}

div.col .energized button.activated {
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
    /*color: inherit;*/
    background-color: #e56406;
    color: #e56406;
}

div.col .dark button.activated {
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
    /*color: inherit;*/
    background-color: #262626;
    color: #262626;
}

.card-buttons .card-button-in {
    float: left;
    /*background-image: url('../img/App_Icon.png');*/
    background: none;
    /*left: 5px;*/
    border-radius: 9px;
    overflow: visible;
    display: inline-block;
    position: relative;
    width: 78px;
    /*margin-left: 7px;*/
}

/*.card-buttons .card-button-in:before {*/
/*border-right: 11px solid;*/
/*border-top: 30px solid transparent;*/
/*border-bottom: 30px solid transparent;*/
/*content: "";*/
/*height: 0;*/
/*left: -10px;*/
/*top:3px;*/
/*position: absolute;*/
/*top: -35px;*/
/*width: 0;*/
/*}*/

.card-buttons .card-button-out {
    float: right;
    width:75%;
    background: none;
    border-radius: 9px;
    overflow: visible;
    display: inline-block;
    position: relative;
    width: 78px;
}

.card-buttons button.button:active {
    border: none;
    box-shadow: none;
}

.card-buttons .card-button-in.on {
    background-image: url('../img/in-out/Button_Orange.png');
    background-position-x: 121px;
    background-size: cover;
    /*background-position: center;*/
}
.card-buttons .card-button-in.off {
    background-image: url('../img/in-out/Button_Orange.png');
    background-position-x: 0;
    background-size: cover;
}

.card-buttons .card-button-out.on {
    background-image: url('../img/in-out/Button_Blue.png');
    background-position-x: 121px;
    background-size: cover;
}
.card-buttons .card-button-out.off {
    background-image: url('../img/in-out/Button_Blue.png');
    background-position-x: 0;
    background-size: cover;
}


/*.card-buttons .card-button-out:before {*/
/*border-left: 11px solid;*/
/*border-top: 30px solid transparent;*/
/*border-bottom: 30px solid transparent;*/
/*content: "";*/
/*height: 0;*/
/*right: -7px;*/
/*top: 3px;*/
/*position: absolute;*/
/*top: -35px;*/
/*width: 0;*/
/*}*/

/* Notifications */

.scale-in {
    transform: scale(0.9);
    opacity: 0;
}
.scale-in.ng-enter,
.scale-in > .ng-enter {
    transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
}

.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {
    transform: scale(1);
    opacity: 1;
}

.scale-in.ng-leave,
.scale-in > .ng-leave {
    transition: all ease-in-out 250ms;
}

/* /Notifications */




/* Activity chat */

.chat .has-footer.has-tabs {
    bottom: 52px;
}

.messages {
    margin:0;
    padding:0;
    list-style-type:none;
}

.messages li {
    display:block;
    clear:both;
    margin:0 0 1rem 0;
    padding:0;
}

.messages li.sent {
    min-width:50%;
}

.messages li:last-child {
    padding-bottom:15px;
}

.messages li.received {
    float:right;
}

.messages li.received img {
    float:right;
}

.messages li.received span {
    color:white;
}

.messages p {
    display: inline-block;
    border-radius:.75rem;
    background:#e6e5eb;
    color:#383641;
    padding:.6875rem;
    margin:0;
    font-size:.875rem;
}

.messages li.received p {
    background:#158ffe;
    color:#fff;
}
.messages img {
    display:block;
    max-width:65%;
    border-radius:.75rem;
}

.chat .item-input-wrapper {
    width: 90%;
    flex: initial;
}
.chat .spinner svg {
    height: 14px;
    width: 14px;
}



.buttons-right .right-buttons .button:first-child {
    float:left;
}
/*.button-header-avatar {*/
/*width:32px;*/
/*height:32px;*/
/*}*/

.item-avatar-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 50px;
    max-height: 50px;
    width:      38px;
    height:     38px;
    /*width: 100%;*/
    /*height: 100%;*/
    /*border: 2px solid #ffffff;*/
    border-radius: 50%;
}

.item-avatar i:nth-child(1), .item-thumbnail-left img:nth-child(2) {
    position: absolute;
    top: 60px;
    left: 60px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

/* Card styling */

td-cards {
    display: block;
}

td-card {
    position: absolute;
    left: 50%;
    margin: 80px 0 40px -150px;
    margin-top: 20%;
    margin-top: 70px;
    width: 300px;
    height: 300px;
    border: 1px solid #999;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    border-radius: 6px;
    background-color: rgb(255,255,255);
}

.td-card .title {
    height: 40px;
    font-size: 15px;
    padding: 15px;
}

td-card .image {
    position: absolute;
    top: 40px;
    width: 100%;
}

td-card .image img{
    height: auto;
    min-height: 180px;
    max-height: 230px;
    padding:0 10px;
}

td-card img {
    height: 258px;
    width: 100%;
    border-radius: 6px;
}

/* Overlay styling*/

.overlayBox {
    position: absolute;
    left: 50%;
    height: 98%;
    width: 100%;
    top: -80px;
    opacity: 0;
    margin: 80px 0 0 -149px;
}

.boxed {
    height: 50px;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    font-size: 30px;
}

.yes-text {
    background-color: rgba(0,256,0,0.2);
}

.yesBox {
    margin: 10% 60% 0% 10%;
    border: 2px solid #00FF00;
    color: rgb(0, 256, 0);
    -webkit-transform: rotate(-25deg);
}

.no-text {
    background-color: rgba(256,0,0,0.2);
}

.noBox {
    margin: 10% 10% 0% 60%;
    border: 2px solid #FF0000;
    color: rgb(256, 0, 0);
    -webkit-transform: rotate(25deg);
}

.fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}


/* Empty. Add your own CSS if you like */
/*body {*/
/*font-family: 'Roboto', serif;*/
/*}*/

.logo-welcome {
    border-radius: 100px;
    width: 120px;
    height: 120px;
    margin: 100px auto auto auto;
    background: url(../img/App_Icon.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

.login-btns {
    width: 250px;
    margin: 0 auto 0 auto;
}

#btn-reg {
    float: right;
}

#login-divider {
    margin: 40px 0 10px 0;
}

#footer {
    background: none;
    /*background: #5A5A5A;*/
    /*opacity: 0.4;*/
    color: #fff;
    z-index: 100;
}

.uppercase {
    text-transform: uppercase;
}

#btn-reg, #btn-login {
    color: white;
}

.em-small {
    font-size: 16px;
    text-decoration: none;
}

.bar .title {
    font-weight: bold;
    text-align: center !important;

}

.em-padding-header {
    padding: 2px;
}

.profile-container {
    position: relative;
    padding: 35px;
    background-color:lightblue;
}

.profile-background {
    position:absolute;
    top:-20%;
    left:-20%;
    width:140%;
    height:140%;
    z-index:1;
    background-size: cover;
    -webkit-filter: blur(30px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    opacity: 0.65;
}

.profile-pic {
    position:relative;
    z-index:5;
    text-align: center;
    height: 95px;
    width: 95px;
    background-size: cover;
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.em-gender .item-checkbox {
    padding-left: 50px !important;
    font-size: 14px;
    border-width: 0;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

.platform-android ion-popover-view.fit {
    margin-top: 10px !important;
}


#social-links {
    text-align: center;
}

#social-links ul li {
    width: 250px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 20px;
}
#social-links ul li span.ifacebook,
#social-links ul li span.itwitter,
#social-links ul li span.igoogleplus {
    display: inline-table;
    width: 41px;
    text-align: center;
}
#social-links ul li span.ifacebook { background: #354f88; padding: 10px 0 10px 0; }
#social-links ul li span.itwitter { background: #40a2d1; padding: 10px 0 10px 0; }
#social-links ul li span.igoogleplus { background: #ce3e26; padding: 10px 0 10px 0; }
#social-links ul li a.afacebook,
#social-links ul li a.atwitter,
#social-links ul li a.agoogleplus {
    display: inline-table;
    color: #ffffff;
    text-decoration: none;
    margin: 0;
    width: 200px;
    text-align: center;
}
#social-links ul li a.afacebook { background: #3b5998; padding: 15px 0 10px 0; }
#social-links ul li a.atwitter { background: #45b0e3; padding: 15px 0 10px 0; }
#social-links ul li a.agoogleplus { background: #de4c34; padding: 15px 0 10px 0; }
#social-links ul li a.afacebook:active { background: #354f88; }
#social-links ul li a.atwitter:active { background: #40a2d1; }
#social-links ul li a.agoogleplus:active { background: #ce3e26; }


/* Empty. Add your own CSS if you like */

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-1dlgad');
    src:url('fonts/icomoon.eot?#iefix-1dlgad') format('embedded-opentype'),
    url('fonts/icomoon.woff?-1dlgad') format('woff'),
    url('fonts/icomoon.ttf?-1dlgad') format('truetype'),
    url('fonts/icomoon.svg?-1dlgad#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-custom-ns:before {
    content: "\e604";
}

.icon-custom-heart:before {
    content: "\e600";
}

.icon-custom-clock:before {
    content: "\e601";
}

.icon-custom-friend:before {
    content: "\e602";
}

.icon-custom-share:before {
    content: "\e603";
}

.span-smaller-responsive {
    display: none;
}



/* Elastic chat css */

/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
.chat .bar-footer {
    overflow: visible !important;
}

.chat .bar-footer textarea {
    resize: none;
    height: 25px;
    width: 100%;
}

/* fixes an ios bug bear */
.chat button.ion-android-send {
    padding-top: 2px;
}

/* add this to keep your footer buttons down
at the bottom as the textarea resizes */
.chat .footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 7px;
}

.chat .footer-btn {
    position: absolute !important;
    bottom: 0;
}

.chat img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
}

.chat img.profile-pic.left {
    left: 10px;
}

.chat img.profile-pic.right {
    right: 10px;
}

.chat .ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
}

.chat .message {
    font-size: 14px;
}

.chat .message-detail {
    white-space: nowrap;
    font-size: 14px;
}

.chat .bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
}

.chat .message-wrapper {
    position: relative;
}

.chat .message-wrapper:last-child {
    margin-bottom: 10px;
}

.chat .chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
}

.chat .chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
}

.chat .chat-bubble.left {
    /*background-color: rgba(256,220,190,1.0);*/
    background-color: #e6e5eb;
    float: left;
    margin-left: 55px;
}

.chat .chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
}

.chat .chat-bubble.right {
    background-color: #158ffe;
    /*background-color: rgba(60,69,230,1.0);*/
    /*background-color: rgba(260,140,60,1.0);*/
    color: #fff;
    float: right;
    margin-right: 55px;
}

.chat .chat-bubble.right:before {
    background-color: #158ffe;
    /*background-color: rgba(60,69,230,1.0);*/
    /*background-color: rgba(260,140,60,1.0);*/
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat .chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
}

.chat .user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
}

.chat .msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

.chat input, textarea, .item-input, .item-input-wrapper {
    /*background-color: #f4f4f4 !important;*/
}

.chat .bold {
    font-weight: bold;
}

.chat .cf {
    clear: both !important;
}

.chat a.autolinker {
    color: #3b88c3;
    text-decoration: none;
}

/* loading */
.chat .loader-center {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.chat .loader .ion-loading-c {
    font-size: 64px;
}

.platform-ios.platform-cordova:not(.fullscreen) .discover .has-header .td-cards td-card {
    margin-top:85px;
}

@media (min-height: 250px) {
    .card-buttons button.button {
        width:90px;
        min-height: 58.5px;
    }
    .card-buttons {
        bottom: 1%;
    }
}

@media (min-height: 480px) {
    .platform-ios.platform-cordova:not(.fullscreen) .discover .has-header .td-cards td-card {
        height:73%
    }
    .platform-ios.platform-cordova:not(.fullscreen) .discover .has-header .td-cards .item.side-label {
        top: 46%;
    }
    .discover .td-cards .image img {
        max-height: 175px;
    }
    .card-buttons {
        bottom: 1%;
    }
    .card-buttons button.button {
        width:90px;
        min-height: 58.5px;
    }
    .card-buttons .card-button-in.on, .card-buttons .card-button-out.on {
        background-position-x: 90px;
    }
}

/* iPhone 5-5S */
@media (min-height: 568px) {
    .platform-ios.platform-cordova:not(.fullscreen) .discover .has-header .td-cards td-card {
        height:73.5%
    }
    .platform-ios.platform-cordova:not(.fullscreen) .discover .has-header .td-cards .item.side-label {
        top: 40%;
    }
    .card-buttons button.button {
        width:105px;
        min-height: 68px;
    }
    .discover .td-cards .image img {
        max-height: 230px;
    }
    .card-buttons {
        bottom: 3%;
    }
    .card-buttons .card-button-in.on, .card-buttons .card-button-out.on {
        background-position-x: 105px;
    }
}

/* iPhone 6 */
@media (min-height: 600px) {
    .platform-ios.platform-cordova:not(.fullscreen) .discover .has-header .td-cards td-card {
        height:78%
    }
    .platform-ios.platform-cordova:not(.fullscreen) .discover .has-header .td-cards .item.side-label {
        top: 38%;
    }
    .platform-ios.platform-cordova:not(.fullscreen) .discover .has-header .card-buttons {
        bottom: 2%;
    }
    .discover .td-cards .image img {
        max-height: 230px;
    }
    .card-buttons {
        bottom: 4%;
    }
    .card-buttons button.button {
        width:121px;
        min-height: 78px;
    }
    .card-buttons .card-button-in.on, .card-buttons .card-button-out.on {
        background-position-x: 121px;
    }
}

@media (min-height: 736px) {
    .platform-ios.platform-cordova:not(.fullscreen) .discover .has-header .td-cards td-card {
        margin-top:140px;
        height:60%;
    }
    .platform-ios.platform-cordova:not(.fullscreen) .discover .has-header .td-cards .item.side-label {
        top: 38%;
    }
    .platform-ios.platform-cordova:not(.fullscreen) .discover .has-header .card-buttons {
        bottom: 14%;
    }
    .card-buttons {
        bottom: 14%;
    }
}

@media (max-height: 620px) {

    td-card .info-tabs-responsive {
        padding-top: 15px;
        text-align: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    td-card .tabs-responsive {
        display: block;
    }

    td-card .info-tabs {
        display: inline-block;
        width: auto;
    }

    td-card .info-tabs .span-responsive {
        display: none;
    }
    td-card .info-tabs .span-smaller-responsive {
        display: inline-block;
    }
    td-card .info-tabs .icon.placeholder-icon:first-child {
        padding-right: 0;
    }
}

@media (min-width: 250px) {
    .td-cards td-card {
        width: 280px;
        margin: 60px 0 40px -140px;
    }
}

@media (min-width: 360px) {
    .td-cards td-card {
        width: 330px;
        margin: 60px 0 40px -165px;
    }
}

.platform-ios.platform-cordova:not(.fullscreen) .discover .has-header {
    top:0;
}

.chat .scroll-content {
    overflow: hidden !important;
}